<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="IESettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ChromeSettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="FirefoxSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="emailTo" value="me@gmail.com;My_collegue@gmail.com;my_boss@gmail.com"/>
    <add key="testSession" value="Tested Application build 001"/>
    <add key="browserType" value="Firefox"/>
    <add key="timeoutPageLoading" value="20"/>    	   	
    <add key="timeoutElementLoading" value="10"/>       
    <add key="timeoutBetweenClicks" value="1"/>
    <add key="doEventLogging" value="true"/>
    <add key="applicationURL" value="http://learnseleniumtesting.com/ApplicationUnderTest/index.html"/>
  </appSettings>
  <IESettings>
    <add key="IgnoreZoomLevel" value="true" />
  </IESettings>
  <ChromeSettings>
    <add key="--start-maximized" value="true" />
  </ChromeSettings>
  <FirefoxSettings>
    <!--disables any plug-ins installed in my Firefox browser-->
    <add key="dom.ipc.plugins.enabled" value="true" />
    <!--Google start page will be automatically loaded on the browser start-up-->
    <add key="browser.startup.homepage" value="http://google.com" />
    <!--Firefox will check for updates once per a day (86400 seconds = 24 hours)-->
    <add key="app.update.interval" value="86400" />
  </FirefoxSettings>
</configuration>
